# Ignore everything
*

# Allow directories so that git can recurse into them.
!*/

# Unignore the .gitignore file itself
!.gitignore

# Unignore Python files
!*.py

# Unignore VHDL files (adjust extensions as needed)
!*.vhd
!*.vhdl

# Unignore ModelSim project files (adjust extensions as needed)
!*.do
!*.prj

# Unignore image files (PNGs and JPEGs)
#!*.png
#!*.jpg
#!*.jpeg

# Unignore text files
!*.txt

# Unignore MP4 files
#!*.mp4

# Unignore Jupyter Notebook files
!*.ipynb

# Ignore the 'db' folder
db/

