# Ignore everything
*

# Except VHDL files
!*.vhd
!*.vhdl

# Except ModelSim project files
!*.mpf
!*.do

# Include Markdown documentation
!*.md

# Include Python files
!*.py

# Include Jupyter notebooks
!*.ipynb

# Except the .gitignore file itself (optional, but recommended)
!.gitignore
